<div class="home py-5" >
    <div class="card offset-sm-1 col-sm-10 p-2">
        <div class="card-bady">
            <div class="card-title text-center text-primary mb-3">
                <h2><b>Create PDF</b></h2>
            </div>
            <div class="card-text">
                <div >
                    <div class=" form-control my-2 " style="overflow-x: auto; "  >
                        <ngx-editor-menu  [editor]="editor" [toolbar]="toolbar" [spellcheck]="true"  ></ngx-editor-menu>
                    </div>
                    <div>
                        <ngx-editor  [editor]="editor"  [(ngModel)]="content" name="content"[placeholder]="'Type here...'" ></ngx-editor>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="my-2">
            <div class="pull-right">
                <div class="btn " (click)="downloadPdf()">Download PDF</div>
            </div>
        </div>
    </div>
    
    <div class=" col-sm-10 offset-sm-1 my-5 " *ngIf="content" >
        <div class="pdf">
            <div class="text-center bg text-pdfview"><b>PDF View</b></div>
            <div class=" bg text-pdf" style="overflow-x: auto; ">
                <div >
                    <div id="contentToConvert" class="p-5" [innerHtml]="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>